parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property WayOfDev\\\\Serializer\\\\Config\\:\\:\\$config\\.$#"
			count: 1
			path: src/Config.php

		-
			message: "#^Construct empty\\(\\) is not allowed\\. Use more strict comparison\\.$#"
			count: 1
			path: src/Config.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Config\\:\\:__construct\\(\\) has parameter \\$encoders with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Config.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Config\\:\\:__construct\\(\\) has parameter \\$normalizers with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Config.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Config\\:\\:encoders\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Config.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Config\\:\\:fromArray\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Config.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Config\\:\\:normalizers\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Config.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Contracts\\\\ConfigRepository\\:\\:encoders\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Contracts/ConfigRepository.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Contracts\\\\ConfigRepository\\:\\:normalizers\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Contracts/ConfigRepository.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Contracts\\\\NormalizersRegistryInterface\\:\\:all\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Contracts/NormalizersRegistryInterface.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Contracts\\\\SerializerInterface\\:\\:normalize\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Contracts/SerializerInterface.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Contracts\\\\SerializerInterface\\:\\:normalize\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Contracts/SerializerInterface.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Normalizers\\\\RamseyUuidNormalizer\\:\\:denormalize\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Normalizers/RamseyUuidNormalizer.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Normalizers\\\\RamseyUuidNormalizer\\:\\:normalize\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Normalizers/RamseyUuidNormalizer.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Normalizers\\\\RamseyUuidNormalizer\\:\\:normalize\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Normalizers/RamseyUuidNormalizer.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Normalizers\\\\RamseyUuidNormalizer\\:\\:normalize\\(\\) return type with generic class ArrayObject does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Normalizers/RamseyUuidNormalizer.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Normalizers\\\\RamseyUuidNormalizer\\:\\:supportsDenormalization\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Normalizers/RamseyUuidNormalizer.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Normalizers\\\\RamseyUuidNormalizer\\:\\:supportsNormalization\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Normalizers/RamseyUuidNormalizer.php

		-
			message: "#^Parameter \\#1 \\$object \\(Ramsey\\\\Uuid\\\\UuidInterface\\) of method WayOfDev\\\\Serializer\\\\Normalizers\\\\RamseyUuidNormalizer\\:\\:normalize\\(\\) should be contravariant with parameter \\$object \\(mixed\\) of method Symfony\\\\Component\\\\Serializer\\\\Normalizer\\\\NormalizerInterface\\:\\:normalize\\(\\)$#"
			count: 1
			path: src/Normalizers/RamseyUuidNormalizer.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\NormalizersRegistry\\:\\:__construct\\(\\) has parameter \\$normalizers with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/NormalizersRegistry.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\ResponseFactory\\:\\:fromArray\\(\\) has parameter \\$response with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ResponseFactory.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\ResponseFactory\\:\\:serializeResponse\\(\\) has parameter \\$response with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ResponseFactory.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\ResponseFactory\\:\\:withContext\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ResponseFactory.php

		-
			message: "#^Property WayOfDev\\\\Serializer\\\\ResponseFactory\\:\\:\\$context type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ResponseFactory.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Serializer\\:\\:decode\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Serializer.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Serializer\\:\\:denormalize\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Serializer.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Serializer\\:\\:encode\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Serializer.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Serializer\\:\\:normalize\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Serializer.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Serializer\\:\\:normalize\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Serializer.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Serializer\\:\\:normalize\\(\\) return type with generic class ArrayObject does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Serializer.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Serializer\\:\\:serialize\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Serializer.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Serializer\\:\\:supportsDecoding\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Serializer.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Serializer\\:\\:supportsDenormalization\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Serializer.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Serializer\\:\\:supportsEncoding\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Serializer.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Serializer\\:\\:supportsNormalization\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Serializer.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\Serializer\\:\\:unserialize\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Serializer.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\SerializerManager\\:\\:normalize\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/SerializerManager.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\SerializerManager\\:\\:normalize\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/SerializerManager.php

		-
			message: "#^Method WayOfDev\\\\Serializer\\\\SerializerRegistry\\:\\:__construct\\(\\) has parameter \\$serializers with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/SerializerRegistry.php

		-
			message: "#^Method WayOfDev\\\\App\\\\NestedObjects\\\\City\\:\\:jsonSerialize\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/app/NestedObjects/City.php

		-
			message: "#^Class WayOfDev\\\\App\\\\Response extends generic class ArrayIterator but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: tests/app/Response.php

		-
			message: "#^Method WayOfDev\\\\App\\\\Response\\:\\:__construct\\(\\) has parameter \\$items with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/app/Response.php

		-
			message: "#^Method WayOfDev\\\\App\\\\Response\\:\\:create\\(\\) has parameter \\$items with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/app/Response.php

		-
			message: "#^Method WayOfDev\\\\Tests\\\\Functional\\\\Normalizers\\\\RamseyUuidNormalizerTest\\:\\:serializeDataProvider\\(\\) return type has no value type specified in iterable type Traversable\\.$#"
			count: 1
			path: tests/src/Functional/Normalizers/RamseyUuidNormalizerTest.php

		-
			message: "#^Method WayOfDev\\\\Tests\\\\Functional\\\\NormalizersRegistryTest\\:\\:assertContainsInstanceOf\\(\\) has parameter \\$array with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/src/Functional/NormalizersRegistryTest.php

		-
			message: "#^Method WayOfDev\\\\Tests\\\\Functional\\\\SerializerManagerTest\\:\\:serializeDataProvider\\(\\) return type has no value type specified in iterable type Traversable\\.$#"
			count: 1
			path: tests/src/Functional/SerializerManagerTest.php

		-
			message: "#^Method WayOfDev\\\\Tests\\\\Functional\\\\SerializerManagerTest\\:\\:unserializeDataProvider\\(\\) return type has no value type specified in iterable type Traversable\\.$#"
			count: 1
			path: tests/src/Functional/SerializerManagerTest.php

		-
			message: "#^Method WayOfDev\\\\Tests\\\\Functional\\\\SerializerTest\\:\\:serializeDataProvider\\(\\) return type has no value type specified in iterable type Traversable\\.$#"
			count: 1
			path: tests/src/Functional/SerializerTest.php
