includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - config/
        - src/
        - tests/
        - .php-cs-fixer.dist.php
        - rector.php
    excludePaths:
        - tests/src/Arch
    checkOctaneCompatibility: true
    checkModelProperties: true
    tmpDir: .build/phpstan/
